.layout
{
    display: grid;
    grid-template-columns: 267px 1fr 1fr 1fr 180px;
    grid-template-rows: 60px auto 140px auto 500px;
    grid-template-areas: 'a 0 0 i b'
        'y c c d z'
        'e g g g z'
        'w l l l z'
        'w f h j z';
}

body
{
    font: 13.33px Arial;
}

h1
{
    margin-bottom: 4px;
    margin-top: 1em;
    font-weight: 400;
    font-size: 13.33px;
}

h2
{
    margin-bottom: 5px;
    margin-top: 1em;
    font-weight: 400;
    font-size: 13.33px;
}

.blue
{
    color: #0054b9;
}

.red
{
    color: red;
}

.title
{
    font-size: 138.5%;
    font-weight: 400;
}

.light-blue
{
    color: #6da2e1;
}

.bold
{
    font-weight: 700;
}

.margin-left
{
    margin-left: 10px;
}

.city
{
    color: #999;
    margin-left: 35px;
    margin-top: 12px;
}

.city::before
{
    content: '◥';
}

.settings
{
    text-align: right;
    padding-right: 30px;
    padding-top: 15px;
}

.mail
{
    padding: 3px 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.adv
{
    margin-top: 15px;
}

.time
{
    font-size: 84.6%;
    color: #999;
}

ul
{
    padding: 0;
    margin: 0;
}

li
{
    line-height: 1.8;
}

.currency
{
    letter-spacing: 1px;
}

.rate-change,
.more,
.gray
{
    color: #aaa;
}

.rate-change
{
    margin-right: 10px;
}

input:focus
{
    outline-width: 0;
}

.search-line-wrapper
{
    position: relative;
}

.search
{
    width: 731px;
    height: 36px;
    border: 2px solid #ff0;
}

.button
{
    position: absolute;
    font-size: 16px;
    width: 88px;
    height: 36px;
    border: 2px solid #ff0;
    background: #ff0;
    cursor: pointer;
}

.active
{
    cursor: pointer;
}

.scroll
{
    overflow-y: scroll;
    max-height: 240px;
    width: 270px;
    box-shadow: inset 0 10px 15px -5px #aaa, inset 0 -10px 15px -5px #aaa;
}

.logo
{
    margin: 48px 0 0 125px;
    width: 134px;
    height: 50px;
    background-image: url(images/logo.png);
}

.content-types
{
    margin-top: 25px;
}

.content-type
{
    font-size: 1.16em;
    margin-right: 16px;
}

.none-style
{
    list-style: none;
}

.show-more
{
    padding-top: 50px;
}

.show-more::before
{
    content: '↻ ';
    font-weight: normal;
    opacity: .5;
}

.h2__span
{
    display: inline-block;
    vertical-align: middle;
}

.program-icon
{
    width: 96px;
    height: 29px;
    background-image: url(images/program.png);
}

.weather-icon
{
    width: 37px;
    height: 33px;
    background-image: url(images/weather.png);
}

.probki-icon
{
    width: 34px;
    height: 28px;
    background-image: url(images/probki.png);
}

.weather,
.probki
{
    margin-top: 0;
    margin-bottom: 25px;
}

.transport
{
    margin: 7px 0;
}

.program-time,
.program-name
{
    margin-right: 5px;
}

.city-box
{
    grid-area: a;
}

.mail-box
{
    grid-area: b;
}

.main-box
{
    grid-area: c;
}

.advert1-box
{
    grid-area: d;
}

.logo-box
{
    grid-area: e;
}

.left-column-box
{
    grid-area: f;
}

.search-box
{
    grid-area: g;
}

.middle-column-box
{
    grid-area: h;
}

.settings-box
{
    grid-area: i;
}

.right-column-box
{
    grid-area: j;
}

.advert2-box
{
    grid-area: l;
}
