.layout
{
    display: grid;
    grid-template-columns: 267px 1fr 1fr 1fr 180px;
    grid-template-rows: 60px auto 135px auto 500px;
    grid-template-areas: 'a 0 0 i b'
        'y c c d z'
        'e g g g z'
        'w l l l z'
        'w f h j z';
}

.blue
{
    color: #0054b9;
}

.red
{
    color: red;
}

.gray
{
    color: #aaa;
}

.light-blue
{
    color: #6da2e1;
}

.bold
{
    font-weight: 700;
}

.title
{
    font-size: 138.5%;
    font-weight: 400;
}

.margin-left
{
    margin-left: 10px;
}

.time
{
    font-size: 84.6%;
    color: #999;
}

.active
{
    cursor: pointer;
}

.none-style
{
    list-style: none;
}

ul
{
    padding: 0;
    margin: 0;
}

li
{
    line-height: 1.9;
}

h1,
h2
{
    margin-top: 1em;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 13.33px;
}

body
{
    font: 13.33px Arial, Helvetica, sans-serif;
}

.city
{
    color: #999;
    margin-top: 12px;
    margin-left: 35px;
}

.city::before
{
    content: '◥';
}

.settings
{
    text-align: right;
    padding-top: 15px;
    padding-right: 30px;
}

.mail
{
    padding: 3px 0;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
}

.wallet
{
    font-size: 92.3%;
    margin-top: 6px;
}

.currency
{
    letter-spacing: 1px;
}

.rate-change
{
    margin-right: 10px;
}

.adv1
{
    margin-top: 1em;
}

.adv1-title
{
    margin-top: 10px;
    margin-bottom: 0;
}

.adv1-description
{
    margin-top: 10px;
    margin-bottom: 0;
}

.logo
{
    margin: 23px 0 0 116px;
    width: 140px;
    height: 100px;
    background-image: url(images/logo.webp);
}

.content-types
{
    margin-top: 32px;
    margin-bottom: 9px;
}

.content-type
{
    font-size: 1.16em;
    margin-right: 16px;
}

.search-wrapper
{
    position: relative;
}

.search-input
{
    width: 730px;
    height: 36px;
    border: 2px solid #fc0;
}

.search-button
{
    position: absolute;
    font-size: 16px;
    width: 75px;
    height: 36px;
    border: 2px solid #fc0;
    background: #fc0;
}

.search-arrow
{
    position: absolute;
    top: 0;
    left: 805px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 10px;
    border-color: transparent transparent transparent #fc0;
}

.search-example
{
    margin-top: 7px;
}

.h2-span
{
    display: inline-block;
    vertical-align: middle;
}

.switch-joke
{
    padding-top: 50px;
}

.switch-joke::before
{
    content: '↻ ';
    font-weight: normal;
    opacity: .5;
}

.program-icon
{
    width: 96px;
    height: 29px;
    background-image: url(images/program.png);
}

.program-time,
.program-name
{
    margin-right: 5px;
}

.scroll
{
    overflow-y: scroll;
    max-height: 240px;
    width: 270px;
    box-shadow: inset 0 10px 15px -5px #aaa, inset 0 -10px 15px -5px #aaa;
}

.weather-icon
{
    width: 36px;
    height: 36px;
    background-image: url(images/weather.png);
}

.probki-icon
{
    width: 33px;
    height: 33px;
    background-image: url(images/probki.svg);
}

.weather,
.probki
{
    margin-top: 0;
    margin-bottom: 25px;
}

.transport
{
    margin: 7px 0;
}

.city-box
{
    grid-area: a;
}

.mail-box
{
    grid-area: b;
}

.main-box
{
    grid-area: c;
}

.advert1-box
{
    grid-area: d;
}

.logo-box
{
    grid-area: e;
}

.left-column-box
{
    grid-area: f;
}

.search-box
{
    grid-area: g;
}

.middle-column-box
{
    grid-area: h;
}

.settings-box
{
    grid-area: i;
}

.right-column-box
{
    grid-area: j;
}

.advert2-box
{
    grid-area: l;
}
